{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.contact.enable }}
{{- with $data.homepage.contact }}
<section class="section bg-opacity" id="contact" style="background-image: url('{{ .bg_image | absURL }}');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
  <div class="row justify-content-center">
      <div class="col-lg-8">
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder={{ i18n "name" }}>
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder={{ i18n "email" }}>
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder={{ i18n "message" }}></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



{{- end }}
{{- end }}